
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wiki - Street Fighter</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>

    <div id="menu">

        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="https://www.google.com.br/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=Street+fighter&tbm=nws">Noticias</a></li>
            <li><a href="blanka.html">Ficha Técnica</a></li>
            <li>Sobre</li>
        </ul>


    </div>
    <div id="topo">
        <h2 style="color:#FFF">Stree Fighter</h2>


    </div>

    <div id="conteudo">
        @RenderBody()
    </div>

</body>
</html>