
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wiki - Street Fighter</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>

    <div id="menu">

        <ul>
            <li><a href="~/StreetFighter/Index">Inicio</a></li>
            <li><a href="~/StreetFighter/FichaTecnica">Cadastro</a></li>
            <li><a href="">Lista Personagens</a></li>
            <li>Sobre</li>
        </ul>


    </div>
    <div id="topo">
        <h2 style="color:#FFF">Stree Fighter</h2>


    </div>

    <div id="conteudo">
        @RenderBody()
    </div>

</body>
</html>